body {
  max-width: 320px;
  margin: auto;
  background: #ddd;
}

img {
  display: block;
  max-width: 100%; 
}

.images {
  display: block;
  margin-left:70px ;
  display: block;
  width: 50%;
}


div{
  margin-bottom: 100px;
  }


header {
  color:#efd433;
  text-align: center;
  text-justify: distribute;
}

h1 {
  font-family: 'Gloock', serif;
  letter-spacing: 5px;
  padding-top:  10px; ;
  padding-bottom: 10px;
}

nav {
  
  padding: 50px;
  margin-bottom: 50px;
  border-bottom-left-radius: 100px; 
  border-bottom-right-radius: 100px;
  background: #0e1847;
}
.button {
  display: flex;
  flex-direction: column;
  text-align: center;
}

a {
  font-family: 'Space Grotesk', sans-serif;
  color:#efd433;
  padding: 10px;
}

h2 {
  font-family: 'Imbue', serif;
  text-align: left;
  color:#efd433;
  font-size: 40px;
  font-weight: 600;
  font-stretch: narrower;


  
}

p {
  color:#efd433;
  font-family: 'Space Grotesk' ;
}

footer {
  padding: 50px;
  border-top-left-radius: 100px; 
  border-top-right-radius: 100px;
  background: #0e1847;
  text-align: center;
  
}


.yoko-title {
  background-image:url(../img/SHAPE1.png);
  background-size: cover;
  background-repeat:no-repeat;
  background-position:center;
}

.show-title {
  background-image:url(../img/SHAPE2.png);
  background-size: cover;
  background-repeat:no-repeat;
  background-position:center;
}
.paragraphe-1 {
  background-image:url(../img/SHAPE3.png);
  background-size: cover;
  background-repeat:no-repeat;
  background-position:center;
}
.paragraphe-2 {
  background-image:url(../img/SHAPE5.png);
  background-size: cover;
  background-repeat:no-repeat;
  background-position:center;
}
.paragraphe-3 {
  background-image:url(../img/SHAPE6.png);
  background-size: cover;
  background-repeat:no-repeat;
  background-position:center;
}

.musician {
  background-image:url(../img/SHAPE7.png);
  background-size: cover;
  background-repeat:no-repeat;
  background-position:right;
}
.japanese {
  border: solid 3px #efd433 ;
  padding-top:  10px; ;
  padding-bottom: 10px;
  font-family: Glook, serif;
  block-size: auto;
}